{% extends 'base.html' %}
{% load static %}
{% block title %}
    Multipage - Real Estate Agents Grid View Page | Unify - Responsive Website Template
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/vendor/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fancybox/jquery.fancybox.min.css' %}">
{% endblock %}


{#<main class="g-overflow-hidden">#}
{% block body %}
    <!-- Promo Block -->
    <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-cover g-bg-black-opacity-0_5--after g-py-120"
         style="background-image: url({% static 'assets/img-temp/1920x800/img2.jpg' %});">
        <div class="container g-pos-rel g-z-index-1">
            <div class="text-center g-mb-35">
                <h1 class="h2 g-color-white mb-0">Find an experienced agent to sell your property</h1>
            </div>

            <!-- Filters - List -->
            <div class="text-center">
                <ul class="d-inline-block list-inline g-bg-secondary g-pa-3 mb-5">
                    <li class="list-inline-item mr-0">
                        <a class="d-block active g-bg-white g-bg-primary--active g-color-main g-color-white--active g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-20 g-py-10"
                           href="#">
                            Agency
                        </a>
                    </li>
                    <li class="list-inline-item mr-0">
                        <a class="d-block g-bg-white g-bg-primary--active g-color-main g-color-white--active g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-20 g-py-10"
                           href="#">
                            Agency Offices
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Filters - List -->

            <!-- Input Group -->
            <form>
                <div class="row justify-content-center g-mx-5--md">
                    <div class="col-sm-9 col-lg-7 g-px-0--sm g-mb-30">
                        <input class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text"
                               placeholder="Search by City, Address, ZIP ...">
                    </div>

                    <div class="col-sm-3 col-lg-2 g-px-0--sm g-mb-30">
                        <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
                                type="submit">
                            Search
                        </button>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-4 col-lg-3 g-mb-30">
                        <!-- Button Group -->
                        <select class="js-custom-select w-100 u-select-v1 g-brd-gray-light-v3 g-color-main g-color-primary--hover g-bg-white g-py-12"
                                required
                                data-placeholder="All Property Types"
                                data-open-icon="fa fa-angle-down"
                                data-close-icon="fa fa-angle-up">
                            <option></option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="HO">House
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="UN">Unit &amp; Apartment
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="LA">Land
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="TO">Townhouse
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="RU">Rural
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="VI">Villa
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="AC">Acreage
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="BL">Block of Units
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="RL">Retirement Living
                            </option>
                        </select>
                        <!-- End Button Group -->
                    </div>

                    <div class="col-sm-4 col-lg-3 g-mb-30">
                        <!-- Button Group -->
                        <select class="js-custom-select w-100 u-select-v1 g-brd-gray-light-v3 g-color-main g-color-primary--hover g-bg-white g-py-12"
                                required
                                data-placeholder="Min Price"
                                data-open-icon="fa fa-angle-down"
                                data-close-icon="fa fa-angle-up">
                            <option></option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="50000">$50,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="100000">$100,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="150000">$150,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="200000">$200,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="250000">$250,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="300000">$300,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="350000">$350,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="400000">$400,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="450000">$450,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="500000">$500,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="550000">$550,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="600000">$600,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="650000">$650,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="700000">$700,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="750000">$750,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="800000">$800,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="850000">$850,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="900000">$900,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="1000000">$1,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="1250000">$1,250,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="1500000">$1,500,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="1750000">$1,750,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="2000000">$2,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="3000000">$3,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="4000000">$4,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="5000000">$5,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="10000000">$10,000,000
                            </option>
                        </select>
                        <!-- End Button Group -->
                    </div>

                    <div class="col-sm-4 col-lg-3 g-mb-30">
                        <!-- Button Group -->
                        <select class="js-custom-select w-100 u-select-v1 g-brd-gray-light-v3 g-color-main g-color-primary--hover g-bg-white g-py-12"
                                required
                                data-placeholder="Max Price"
                                data-open-icon="fa fa-angle-down"
                                data-close-icon="fa fa-angle-up">
                            <option></option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="50000-2">$50,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="100000-2">$100,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="150000-2">$150,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="200000-2">$200,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="250000-2">$250,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="300000-2">$300,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="350000-2">$350,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="400000-2">$400,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="450000-2">$450,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="500000-2">$500,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="550000-2">$550,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="600000-2">$600,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="650000-2">$650,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="700000-2">$700,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="750000-2">$750,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="800000-2">$800,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="850000-2">$850,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="900000-2">$900,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="1000000-2">$1,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="1250000-2">$1,250,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="1500000-2">$1,500,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="1750000-2">$1,750,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="2000000-2">$2,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="3000000-2">$3,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="4000000-2">$4,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="5000000-2">$5,000,000
                            </option>
                            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active"
                                    value="10000000-2">$10,000,000
                            </option>
                        </select>
                        <!-- End Button Group -->
                    </div>
                </div>
            </form>
            <!-- End Input Group -->
        </div>
    </div>
    <!-- End Promo Block -->

    <!-- Breadcrumbs -->
    <div class="container g-py-50">
        <ul class="u-list-inline g-font-weight-500 mb-2">
            <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Home</a>
                <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-left"></i>
            </li>
            <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Agents</a>
                <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-left"></i>
            </li>
            <li class="list-inline-item g-color-primary">
                <span>Grid View</span>
            </li>
        </ul>
        <h2 class="h2 mb-0">Grid View - Agents</h2>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Filters -->
    <div class="container g-pb-20">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 g-mb-30">
                <div class="d-flex align-items-center">
                    <h3 class="h6 g-font-weight-600 mr-4 mb-0">Show:</h3>

                    <!-- Filters - List -->
                    <ul class="list-inline g-bg-secondary g-pa-3 mb-0">
                        <li class="list-inline-item mr-0">
                            <a class="d-block active g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-20 g-py-10"
                               href="#">
                                <i class="g-color-main mr-1 icon-grid"></i>
                                Grid
                            </a>
                        </li>
                        <li class="list-inline-item mr-0">
                            <a class="d-block g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-20 g-py-10"
                               href="#">
                                <i class="g-color-main mr-1 icon-list"></i>
                                List
                            </a>
                        </li>
                    </ul>
                    <!-- End Filters - List -->
                </div>
            </div>

            <div class="col-md-6 g-mb-30">
                <div class="d-flex align-items-center float-md-right">
                    <h3 class="h6 g-font-weight-600 mr-4 mb-0">Sort by:</h3>

                    <!-- Input Group -->
                    <div class="input-group-btn">
                        <select class="js-custom-select u-select-v1 g-min-width-150 g-brd-none g-bg-secondary g-color-main g-color-primary--hover g-py-12"
                                required
                                data-placeholder="Sold Listings"
                                data-open-icon="fa fa-angle-down"
                                data-close-icon="fa fa-angle-up">
                            <option></option>
                            <option class="g-brd-none g-color-main g-bg-primary--hover g-bg-primary--active" value="SL">
                                Sold Listings
                            </option>
                            <option class="g-brd-none g-color-main g-bg-primary--hover g-bg-primary--active" value="AZ">
                                First Name A-Z
                            </option>
                            <option class="g-brd-none g-color-main g-bg-primary--hover g-bg-primary--active" value="ZA">
                                First Name Z-A
                            </option>
                        </select>
                    </div>
                    <!-- End Input Group -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Filters -->

    <!-- Agents -->
    <div class="container">
        <div class="row g-mb-70">
            <div class="col-md-6 col-lg-4 g-mb-30">
                <!-- Agents -->
                <div class="u-shadow-v11 u-shadow-v21--hover g-transition-0_3">
                    <div class="media g-bg-white g-pa-20">
                        <div class="d-flex g-width-100 g-height-100 mr-4">
                            <img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle"
                                 src="{% static 'rtl/multipage/real-estate/assets/img-temp/200x200/img1.jpg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="media-body">
                            <h3 class="h5"><a class="g-color-main" href="#">David Gunning</a></h3>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-13 mb-1">Managing Director</span>
                            <span class="d-block g-font-size-13">Real Estate State</span>
                            <div class="g-brd-top g-brd-gray-light-v3 g-pt-10 g-mt-10">
                                <span class="d-block">3 Sales lead agent</span>
                                <span class="d-block g-color-gray-dark-v5 g-font-size-13">1 Sales dual agent</span>
                            </div>
                        </div>
                    </div>
                    <a class="u-link-v2" href="page-agents-single-page-1.html"></a>
                </div>
                <!-- End Agents -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
                <!-- Agents -->
                <div class="u-shadow-v11 u-shadow-v21--hover g-transition-0_3">
                    <div class="media g-bg-white g-pa-20">
                        <div class="d-flex g-width-100 g-height-100 mr-4">
                            <img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle"
                                 src="{% static 'rtl/multipage/real-estate/assets/img-temp/200x200/img2.jpg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="media-body">
                            <h3 class="h5"><a class="g-color-main" href="#">Debbie Heron</a></h3>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-13 mb-1">Managing Director</span>
                            <span class="d-block g-font-size-13">Excellent Estate</span>
                            <div class="g-brd-top g-brd-gray-light-v3 g-pt-10 g-mt-10">
                                <span class="d-block">1 Sales lead agent</span>
                                <span class="d-block g-color-gray-dark-v5 g-font-size-13">0 Sales dual agent</span>
                            </div>
                        </div>
                    </div>
                    <a class="u-link-v2" href="page-agents-single-page-1.html"></a>
                </div>
                <!-- End Agents -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
                <!-- Agents -->
                <div class="u-shadow-v11 u-shadow-v21--hover g-transition-0_3">
                    <div class="media g-bg-white g-pa-20">
                        <div class="d-flex g-width-100 g-height-100 mr-4">
                            <img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle"
                                 src="{% static 'rtl/multipage/real-estate/assets/img-temp/200x200/img4.jpg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="media-body">
                            <h3 class="h5"><a class="g-color-main" href="#">John Lennard</a></h3>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-13 mb-1">Property Consultant</span>
                            <span class="d-block g-font-size-13">American Property</span>
                            <div class="g-brd-top g-brd-gray-light-v3 g-pt-10 g-mt-10">
                                <span class="d-block">22 Sales lead agent</span>
                                <span class="d-block g-color-gray-dark-v5 g-font-size-13">7 Sales dual agent</span>
                            </div>
                        </div>
                    </div>
                    <a class="u-link-v2" href="page-agents-single-page-1.html"></a>
                </div>
                <!-- End Agents -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
                <!-- Agents -->
                <div class="u-shadow-v11 u-shadow-v21--hover g-transition-0_3">
                    <div class="media g-bg-white g-pa-20">
                        <div class="d-flex g-width-100 g-height-100 mr-4">
                            <img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle"
                                 src="{% static 'rtl/multipage/real-estate/assets/img-temp/200x200/img3.jpg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="media-body">
                            <h3 class="h5"><a class="g-color-main" href="#">Andrea Brown</a></h3>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-13 mb-1">Assistant Director</span>
                            <span class="d-block g-font-size-13">Real Estate State</span>
                            <div class="g-brd-top g-brd-gray-light-v3 g-pt-10 g-mt-10">
                                <span class="d-block">0 Sales lead agent</span>
                                <span class="d-block g-color-gray-dark-v5 g-font-size-13">0 Sales dual agent</span>
                            </div>
                        </div>
                    </div>
                    <a class="u-link-v2" href="page-agents-single-page-1.html"></a>
                </div>
                <!-- End Agents -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
                <!-- Agents -->
                <div class="u-shadow-v11 u-shadow-v21--hover g-transition-0_3">
                    <div class="media g-bg-white g-pa-20">
                        <div class="d-flex g-width-100 g-height-100 mr-4">
                            <img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle"
                                 src="{% static 'rtl/multipage/real-estate/assets/img-temp/200x200/img5.jpg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="media-body">
                            <h3 class="h5"><a class="g-color-main" href="#">Debbie Burgas</a></h3>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-13 mb-1">Real Estate Agent</span>
                            <span class="d-block g-font-size-13">North Hobart</span>
                            <div class="g-brd-top g-brd-gray-light-v3 g-pt-10 g-mt-10">
                                <span class="d-block">1 Sales lead agent</span>
                                <span class="d-block g-color-gray-dark-v5 g-font-size-13">0 Sales dual agent</span>
                            </div>
                        </div>
                    </div>
                    <a class="u-link-v2" href="page-agents-single-page-1.html"></a>
                </div>
                <!-- End Agents -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
                <!-- Agents -->
                <div class="u-shadow-v11 u-shadow-v21--hover g-transition-0_3">
                    <div class="media g-bg-white g-pa-20">
                        <div class="d-flex g-width-100 g-height-100 mr-4">
                            <img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle"
                                 src="{% static 'rtl/multipage/real-estate/assets/img-temp/200x200/img7.jpg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="media-body">
                            <h3 class="h5"><a class="g-color-main" href="#">Martin Waldhoff</a></h3>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-13 mb-1">Property Consultant</span>
                            <span class="d-block g-font-size-13">American Property</span>
                            <div class="g-brd-top g-brd-gray-light-v3 g-pt-10 g-mt-10">
                                <span class="d-block">2 Sales lead agent</span>
                                <span class="d-block g-color-gray-dark-v5 g-font-size-13">2 Sales dual agent</span>
                            </div>
                        </div>
                    </div>
                    <a class="u-link-v2" href="page-agents-single-page-1.html"></a>
                </div>
                <!-- End Agents -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
                <!-- Agents -->
                <div class="u-shadow-v11 u-shadow-v21--hover g-transition-0_3">
                    <div class="media g-bg-white g-pa-20">
                        <div class="d-flex g-width-100 g-height-100 mr-4">
                            <img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle"
                                 src="{% static 'rtl/multipage/real-estate/assets/img-temp/200x200/img6.jpg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="media-body">
                            <h3 class="h5"><a class="g-color-main" href="#">Rosa Allie</a></h3>
                            <span class="d-block g-color-gray-dark-v5 g-font-size-13 mb-1">Property Consultant</span>
                            <span class="d-block g-font-size-13">American Property</span>
                            <div class="g-brd-top g-brd-gray-light-v3 g-pt-10 g-mt-10">
                                <span class="d-block">15 Sales lead agent</span>
                                <span class="d-block g-color-gray-dark-v5 g-font-size-13">4 Sales dual agent</span>
                            </div>
                        </div>
                    </div>
                    <a class="u-link-v2" href="page-agents-single-page-1.html"></a>
                </div>
                <!-- End Agents -->
            </div>
        </div>
    </div>
    <!-- End Agents -->

    <!-- Pagination -->
    <div class="container g-pb-100">
        <nav class="text-center" aria-label="Page Navigation">
            <ul class="list-inline">
                <li class="list-inline-item float-sm-left">
                    <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#"
                       aria-label="Previous">
                <span aria-hidden="true">
                  <i class="fa fa-angle-right g-mr-5"></i>
                  Previous
                </span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                    <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--active g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19"
                       href="#">1</a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                    <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19"
                       href="#">2</a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                    <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19"
                       href="#">3</a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                    <span class="g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19">...</span>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                    <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19"
                       href="#">15</a>
                </li>
                <li class="list-inline-item float-sm-right">
                    <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#"
                       aria-label="Next">
                <span aria-hidden="true">
                  Next
                  <i class="fa fa-angle-left g-ml-5"></i>
                </span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- End Pagination -->

    <!-- Call to Action -->
    <div class="g-bg-primary g-py-100">
        <div class="g-max-width-645 text-center mx-auto">
            <div class="mb-5">
                <h2 class="g-color-white g-font-weight-600">Change of a living place - is the first step towards
                    favorable changes</h2>
            </div>

            <span class="d-inline-block g-font-weight-600 text-uppercase mr-4">Call Us</span>
            <a class="btn u-btn-outline-white g-brd-2 g-color-main g-color-primary--hover g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
               href="#">
                (0161) 347 8854
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-left"></i>
            </a>
            <span class="d-inline-block g-font-weight-600 text-uppercase mx-4">or</span>
            <a class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
               href="contact-us.html">
                Contact Us
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-left"></i>
            </a>
        </div>
    </div>
{% endblock body %}



{% block script %}
    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                rtl: true,
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });

            // initialization of HSDropdown component
            $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
                afterOpen: function () {
                    $(this).find('input[type="search"]').focus();
                }
            });

            // initialization of custom select
            $.HSCore.components.HSSelect.init('.js-custom-select');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });
    </script>
{% endblock %}