{% extends 'base.html' %}
{% block title %}
    reset password
{% endblock %}
{% block body %}
    <!-- Login -->
    <div class="container g-pt-100 g-pb-30">
        <div class="row justify-content-center">
            <div class="col-sm-7 col-md-6 col-lg-4 text-center g-mb-70">
                <h2 class="h4 mb-4">Forgot password?</h2>
                <p>Enter your email and we'll send you a link to reset your password.</p>

                <!-- Login Form -->
                <form class="g-mb-30" method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="g-mb-20">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-0 g-py-13 g-px-15"
                               type="email" name="email" placeholder="Email Address">
                    </div>

                    <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15"
                            type="submit">Reset Password
                    </button>
                </form>
                <!-- End Login Form -->

                <a class="d-block g-mb-10" href="login.html">Cancel</a>
            </div>
        </div>
    </div>
    <!-- Login -->

    <!-- Call to Action -->
    <div class="g-bg-primary g-py-100">
        <div class="g-max-width-645 text-center mx-auto">
            <div class="mb-5">
                <h2 class="g-color-white g-font-weight-600">Change of a living place - is the first step towards
                    favorable changes</h2>
            </div>

            <span class="d-inline-block g-font-weight-600 text-uppercase mr-4">Call Us</span>
            <a class="btn u-btn-outline-white g-brd-2 g-color-main g-color-primary--hover g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
               href="#">
                (0161) 347 8854
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-left"></i>
            </a>
            <span class="d-inline-block g-font-weight-600 text-uppercase mx-4">or</span>
            <a class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
               href="../contact-us.html">
                Contact Us
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-left"></i>
            </a>
        </div>
    </div>
    <!-- End Call to Action -->
{% endblock %}
<!-- Footer -->
{% block script %}
    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                rtl: true,
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });

            // initialization of HSDropdown component
            $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
                afterOpen: function () {
                    $(this).find('input[type="search"]').focus();
                }
            });

            // initialization of custom select
            $.HSCore.components.HSSelect.init('.js-custom-select');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });
    </script>
{% endblock %}
